Repository ryo034/react-go-template, changes with the labels that .github/labeler.yml gives for each.
All labels: system, client, api, test, shared-packages, ui-shared-packages, workflow, infrastructure, container, e2e, dependencies

chore
  .github/workflows/labeler.yml
  .github/workflows/system-main-pipeline.yml
Labels: workflow

fix __ci-js.yml outputs
  .github/workflows/__ci-js.yml
Labels: workflow

fix system api Dockerfile
  apps/system/api/Dockerfile
Labels: system, api

fix package-lock
  pnpm-lock.yaml
Labels: none

update packages
  .github/dependabot.yml
  apps/system/client/package.json
  packages/typescript/ui/package.json
  pnpm-lock.yaml
Labels: system, client, shared-packages, ui-shared-packages, workflow, dependencies

fix
  .github/workflows/__ci-go.yml
  .github/workflows/system-main-pipeline.yml
Labels: workflow

chore
  .github/workflows/__ci-go.yml
  .github/workflows/__go-latest-versions.yml
Labels: workflow

fix
  .github/workflows/__ci-go.yml
  .github/workflows/__go-version-from-mod.yml
Labels: workflow

fix get go version from go.mod workflow
  .github/workflows/__go-version-from-mod.yml
Labels: workflow

fix Dockerfile name
  apps/system/api/Dockerfile_local
Labels: system, api

fix Dockerfile
  apps/system/client/Dockerfile_local
  docker-compose.yml
  package.json
  packages/typescript/ui/package.json
  turbo.json
Labels: system, client, shared-packages, ui-shared-packages, dependencies

feat dependabot auto merge workflow
  .github/workflows/dependabot-auto-merge.yml
Labels: workflow

boot API for now
  .vscode/settings.json
  Makefile
  apps/system/api/go.mod
  apps/system/api/go.sum
  apps/system/api/infrastructure/grpc/grpc.go
  apps/system/api/infrastructure/injector/injector.go
  apps/system/api/infrastructure/injector/usecase.go
  apps/system/api/infrastructure/openapi/health.go
  apps/system/api/infrastructure/openapi/openapi.go
  apps/system/api/infrastructure/openapi/server.go
  apps/system/api/interface/controller/health/server.go
  apps/system/api/main.go
  apps/system/api/schema/openapi/oas_cfg_gen.go
  apps/system/api/schema/openapi/oas_client_gen.go
  apps/system/api/schema/openapi/oas_handlers_gen.go
  apps/system/api/schema/openapi/oas_interfaces_gen.go
  apps/system/api/schema/openapi/oas_json_gen.go
  apps/system/api/schema/openapi/oas_middleware_gen.go
  apps/system/api/schema/openapi/oas_request_decoders_gen.go
  apps/system/api/schema/openapi/oas_request_encoders_gen.go
  apps/system/api/schema/openapi/oas_response_decoders_gen.go
  apps/system/api/schema/openapi/oas_response_encoders_gen.go
  apps/system/api/schema/openapi/oas_router_gen.go
  apps/system/api/schema/openapi/oas_schemas_gen.go
  apps/system/api/schema/openapi/oas_server_gen.go
  apps/system/api/schema/openapi/oas_unimplemented_gen.go
  apps/system/api/schema/openapi/oas_validators_gen.go
  apps/system/api/schema/pb/health/v1/health.pb.go
  apps/system/api/schema/pb/health/v1/health.pb.validate.go
  apps/system/api/tmp.md
  apps/system/client/src/generated/schema/api/health/v1/health_pb.ts
  apps/system/test/api/generated/schema/api/health/v1/health_pb.ts
  schema/api/system/openapi/components/schemas/error.yaml
  schema/api/system/openapi/components/schemas/health.yml
  schema/api/system/openapi/openapi.yaml
  schema/api/system/openapi/paths/health.yaml
  schema/api/system/proto/health/v1/health.proto
Labels: system, client, api, test

feat openapi generate
  Makefile
  apps/system/api/schema/openapi/oas_client_gen.go
  apps/system/api/schema/openapi/oas_defaults_gen.go
  apps/system/api/schema/openapi/oas_handlers_gen.go
  apps/system/api/schema/openapi/oas_interfaces_gen.go
  apps/system/api/schema/openapi/oas_json_gen.go
  apps/system/api/schema/openapi/oas_response_decoders_gen.go
  apps/system/api/schema/openapi/oas_response_encoders_gen.go
  apps/system/api/schema/openapi/oas_router_gen.go
  apps/system/api/schema/openapi/oas_schemas_gen.go
  apps/system/api/schema/openapi/oas_server_gen.go
  apps/system/api/schema/openapi/oas_unimplemented_gen.go
  apps/system/api/schema/openapi/oas_validators_gen.go
  container/schema/openapi/Dockerfile
  docker-compose.yml
  schema/api/system/openapi/components/responses/error.yaml
  schema/api/system/openapi/components/schemas/error.yaml
  schema/api/system/openapi/components/schemas/health.yml
  schema/api/system/openapi/components/schemas/me.yml
  schema/api/system/openapi/dist/openapi.yaml
  schema/api/system/openapi/index.yaml
  schema/api/system/openapi/openapi.yaml
  schema/api/system/openapi/paths/me.yaml
Labels: system, api, container

fix openapi Dockerfile
  container/schema/openapi/Dockerfile
Labels: container

fix openapi schema authentication
  apps/system/api/infrastructure/openapi/health.go
  apps/system/api/infrastructure/openapi/middleware/auth.go
  apps/system/api/infrastructure/openapi/openapi.go
  apps/system/api/infrastructure/openapi/service/health.go
  apps/system/api/infrastructure/openapi/service/me.go
  apps/system/api/infrastructure/openapi/service/server.go
  apps/system/api/schema/openapi/oas_client_gen.go
  apps/system/api/schema/openapi/oas_handlers_gen.go
  apps/system/api/schema/openapi/oas_schemas_gen.go
  apps/system/api/schema/openapi/oas_security_gen.go
  apps/system/api/schema/openapi/oas_server_gen.go
  schema/api/system/openapi/components/securitySchemes/index.yaml
  schema/api/system/openapi/dist/openapi.yaml
  schema/api/system/openapi/index.yaml
  schema/api/system/openapi/paths/me.yaml
Labels: system, api

fix network adr
  apps/system/doc/teck/adr/20231229-frontend-backend-connection.md
Labels: system

feat client zod code from open api yaml
  Makefile
  apps/system/api/infrastructure/openapi/service/health.go
  apps/system/api/schema/openapi/oas_client_gen.go
  apps/system/api/schema/openapi/oas_handlers_gen.go
  apps/system/api/schema/openapi/oas_interfaces_gen.go
  apps/system/api/schema/openapi/oas_json_gen.go
  apps/system/api/schema/openapi/oas_response_decoders_gen.go
  apps/system/api/schema/openapi/oas_response_encoders_gen.go
  apps/system/api/schema/openapi/oas_router_gen.go
  apps/system/api/schema/openapi/oas_schemas_gen.go
  apps/system/api/schema/openapi/oas_server_gen.go
  apps/system/api/schema/openapi/oas_unimplemented_gen.go
  apps/system/api/schema/openapi/oas_validators_gen.go
  apps/system/client/package.json
  apps/system/client/src/generated/schema/openapi/systemApi.ts
  apps/system/client/src/infrastructure/openapi/orval.config.ts
  container/schema/openapi/orval/Dockerfile
  container/schema/openapi/swagger-merger/Dockerfile
  pnpm-lock.yaml
  schema/api/system/openapi/dist/openapi.yaml
  schema/api/system/openapi/index.yaml
  schema/api/system/openapi/paths/health.yaml
  schema/api/system/openapi/paths/ping.yaml
Labels: system, client, api, container, dependencies

fix openapi schema
  apps/system/api/schema/openapi/oas_client_gen.go
  apps/system/api/schema/openapi/oas_defaults_gen.go
  apps/system/api/schema/openapi/oas_handlers_gen.go
  apps/system/api/schema/openapi/oas_interfaces_gen.go
  apps/system/api/schema/openapi/oas_json_gen.go
  apps/system/api/schema/openapi/oas_request_decoders_gen.go
  apps/system/api/schema/openapi/oas_request_encoders_gen.go
  apps/system/api/schema/openapi/oas_response_decoders_gen.go
  apps/system/api/schema/openapi/oas_response_encoders_gen.go
  apps/system/api/schema/openapi/oas_router_gen.go
  apps/system/api/schema/openapi/oas_schemas_gen.go
  apps/system/api/schema/openapi/oas_server_gen.go
  apps/system/api/schema/openapi/oas_unimplemented_gen.go
  apps/system/client/src/generated/schema/openapi/systemApi.ts
  schema/api/system/openapi/components/responses/error.yaml
  schema/api/system/openapi/dist/openapi.yaml
  schema/api/system/openapi/index.yaml
  schema/api/system/openapi/paths/login.yaml
  schema/api/system/openapi/paths/sign_up.yaml
Labels: system, client, api

chore
  .github/workflows/__ci-go.yml
Labels: workflow

go update package
  apps/system/api/go.mod
  apps/system/api/go.sum
Labels: system, api

fix ci
  .github/workflows/__ci-go.yml
  apps/system/client/vitest.setup.ts
Labels: system, client, workflow

fix go version
  apps/system/api/go.mod
Labels: system, api

chore
  .github/workflows/__ci-go.yml
Labels: workflow

fix
  .github/workflows/__ci-go.yml
Labels: workflow

fix
  .github/workflows/__ci-go.yml
  apps/system/api/interface/controller/me/response/adapter.go
Labels: system, api, workflow

fix client network error handler
  Makefile
  apps/system/api/infrastructure/shared/image.go
  apps/system/client/.env.local.sample
  apps/system/client/package.json
  apps/system/client/src/driver/firebase/driver.ts
  apps/system/client/src/driver/me/driver.ts
  apps/system/client/src/infrastructure/error/handler.ts
  apps/system/client/src/infrastructure/error/index.ts
  apps/system/client/src/infrastructure/error/ky.ts
  apps/system/client/src/infrastructure/error/network.ts
  apps/system/client/src/infrastructure/injector/injector.ts
  apps/system/client/src/infrastructure/openapi/client.ts
  apps/system/client/src/infrastructure/openapi/orval.config.ts
  apps/system/client/src/interface/gateway/me/gateway.ts
  apps/system/client/test/infrastructure/error/network.test.ts
  container/schema/openapi/orval/Dockerfile
  package.json
  packages/typescript/network/package.json
  packages/typescript/network/src/infrastructure/error/api.ts
  packages/typescript/network/src/infrastructure/error/errorCode.ts
  packages/typescript/network/src/infrastructure/error/index.ts
  packages/typescript/network/src/infrastructure/error/interpreter.ts
  packages/typescript/network/test/infrastructure/error/errorCode.test.ts
  packages/typescript/network/test/infrastructure/error/interpreter.test.ts
  packages/typescript/ui/package.json
  pnpm-lock.yaml
Labels: system, client, api, shared-packages, ui-shared-packages, container, dependencies

fix labeler
  .github/workflows/labeler.yml
Labels: workflow

chore
  apps/system/api/Makefile
  apps/system/api/domain/me/repository.go
  apps/system/api/driver/firebase/driver.go
  apps/system/api/go.mod
  apps/system/api/go.sum
  container/database/postgresql/sql/001-create-tables.sql
  container/database/postgresql/sql/001_create_tables.sql
  container/database/postgresql/sql/099-initialize-data.sql
  container/database/postgresql/sql/099_initialize_data.sql
  docker-compose.yml
Labels: system, api, container

feat API driver test
  Makefile
  apps/system/api/domain/employee/employee.go
  apps/system/api/domain/employee/employees.go
  apps/system/api/domain/me/me.go
  apps/system/api/domain/shared/account/first_name.go
  apps/system/api/domain/shared/account/name.go
  apps/system/api/domain/user/user.go
  apps/system/api/driver/firebase/driver.go
  apps/system/api/driver/me/driver.go
  apps/system/api/driver/me/driver_test.go
  apps/system/api/go.mod
  apps/system/api/go.sum
  apps/system/api/infrastructure/auth/provider.go
  apps/system/api/infrastructure/database/models/address_component.go
  apps/system/api/infrastructure/database/models/employee.go
  apps/system/api/infrastructure/database/models/employee_addresse.go
  apps/system/api/infrastructure/database/models/employee_hire.go
  apps/system/api/infrastructure/database/models/employee_profile.go
  apps/system/api/infrastructure/database/models/employee_separation.go
  apps/system/api/infrastructure/database/models/organization.go
  apps/system/api/infrastructure/database/models/organization_detail.go
  apps/system/api/infrastructure/database/models/system_account.go
  apps/system/api/infrastructure/database/models/user_phone_number.go
  apps/system/api/infrastructure/database/models/user_profile.go
  apps/system/api/infrastructure/openapi/service/me.go
  apps/system/api/interface/controller/me/request/adapter.go
  apps/system/api/interface/controller/user/request/adapter.go
  apps/system/api/interface/controller/user/response/adapter.go
  apps/system/api/interface/gateway/me/adapter.go
  apps/system/api/schema/openapi/oas_json_gen.go
  apps/system/api/schema/openapi/oas_schemas_gen.go
  apps/system/api/util/test/container.go
  apps/system/client/src/generated/schema/openapi/systemApi.ts
  apps/system/client/vitest.config.ts
  container/database/postgresql/sql/001_create_tables.sql
  container/database/postgresql/sql/099_initialize_data.sql
  docker-compose.yml
  schema/api/system/openapi/components/schemas/me.yaml
  schema/api/system/openapi/openapi.yaml
Labels: system, client, api, container

fix domain name
  apps/system/api/Makefile
  apps/system/api/domain/employee/employee.go
  apps/system/api/domain/employee/employees.go
  apps/system/api/domain/me/me.go
  apps/system/api/domain/member/member.go
  apps/system/api/domain/member/members.go
  apps/system/api/domain/member/membership_period.go
  apps/system/api/domain/member/membership_periods.go
  apps/system/api/driver/me/driver.go
  apps/system/api/driver/me/driver_test.go
  apps/system/api/infrastructure/database/models/employee.go
  apps/system/api/infrastructure/database/models/employee_hire.go
  apps/system/api/infrastructure/database/models/employee_profile.go
  apps/system/api/infrastructure/database/models/employee_separation.go
  apps/system/api/infrastructure/database/models/member.go
  apps/system/api/infrastructure/database/models/member_addresse.go
  apps/system/api/infrastructure/database/models/member_profile.go
  apps/system/api/infrastructure/database/models/membership_period.go
  apps/system/api/infrastructure/database/models/organization.go
  apps/system/api/infrastructure/database/models/workspace.go
  apps/system/api/infrastructure/database/models/workspace_detail.go
  apps/system/api/infrastructure/openapi/service/me.go
  apps/system/api/interface/controller/me/request/adapter.go
  apps/system/api/schema/openapi/oas_json_gen.go
  apps/system/api/schema/openapi/oas_schemas_gen.go
  apps/system/client/package.json
  apps/system/client/src/generated/schema/openapi/systemApi.ts
  container/database/postgresql/sql/001_create_tables.sql
  container/database/postgresql/sql/099_initialize_data.sql
  packages/typescript/network/package.json
  packages/typescript/ui/package.json
  pnpm-lock.yaml
  schema/api/system/openapi/components/schemas/me.yaml
  schema/api/system/openapi/components/schemas/member.yaml
  schema/api/system/openapi/components/schemas/user.yaml
  schema/api/system/openapi/components/schemas/workspace.yaml
  schema/api/system/openapi/index.yaml
  schema/api/system/openapi/openapi.yaml
Labels: system, client, api, shared-packages, ui-shared-packages, container, dependencies

add Consideration to ADR template
  docs/tech/adr/template.md
Labels: none

add test policy ADR
  apps/system/doc/tech/adr/20231229-frontend-backend-architecture.md
  apps/system/doc/tech/adr/20231229-frontend-backend-connection.md
  apps/system/doc/tech/adr/20240111-test-policy.md
Labels: system

.github/labeler.yml:

system:
  - "apps/system/**/*"

client:
  - "apps/system/client/**/*"

api:
  - "apps/system/api/**/*"

test:
  - "apps/system/test/**/*"

shared-packages:
  - "packages/**/*"

ui-shared-packages:
  - "packages/typescript/ui/**/*"

workflow:
  - ".github/**/*"

infrastructure:
  - "iac/**/*"

container:
  - "container/**/*"

e2e:
  - "apps/system/test/e2e/**/*"

dependencies:
  - "**/package.json"
