Repository ryo034/react-go-template, changes with the labels that .github/labeler.yml gives for each.
All labels: system, client, api, test, shared-packages, client-shared-packages, workflow, infrastructure, container, e2e, dependencies

.github/labeler.yml:

system:
  - "apps/system/**/*"

client:
  - "apps/system/client/**/*"

api:
  - "apps/system/api/**/*"

test:
  - "apps/system/test/**/*"

shared-packages:
  - "packages/**/*"

client-shared-packages:
  - "packages/typescript/**/*"

workflow:
  - ".github/**/*"

infrastructure:
  - "iac/**/*"

container:
  - "container/**/*"

e2e:
  - "apps/system/test/e2e/**/*"

dependencies:
  - "**/package.json"

update node version to 20.10.0
  .tool-versions
Labels: none

feat postgres container
  container/database/postgresql/README.md
  container/database/postgresql/primary/init.sh
  container/database/postgresql/primary/pg_hba.conf
  container/database/postgresql/primary/postgresql.conf
  container/database/postgresql/replica/entrypoint.sh
  container/database/postgresql/replica/pg_hba.conf
  container/database/postgresql/replica/postgresql.conf
  container/database/postgresql/sql/001-create-tables.sql
  container/database/postgresql/sql/099-initialize-data.sql
Labels: container

feat common actions
  .github/workflows/__go-unit-test.yml
  .github/workflows/__go-version.yml
  .github/workflows/__js-unit-test.yml
  .github/workflows/__node-and-pnpm-version.yml
  .github/workflows/biome-main-pipeline.yml
  .github/workflows/labeler.yml
  .github/workflows/system-main-pipeline.yml
  biome.json
  buf.gen.yaml
  buf.work.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: workflow, dependencies

fix common actions
  .github/workflows/__go-unit-test.yml
  .github/workflows/__go-version.yml
  .github/workflows/__node-and-pnpm-version.yml
  .github/workflows/system-main-pipeline.yml
Labels: workflow

fix common actions
  .github/workflows/__go-unit-test.yml
  .github/workflows/__js-unit-test.yml
  .github/workflows/__node-version.yml
  .github/workflows/__pnpm-version.yml
  .github/workflows/system-main-pipeline.yml
Labels: workflow

fix common actions
  .github/workflows/__go-unit-test.yml
  .github/workflows/__js-unit-test.yml
Labels: workflow

fix run client test command in ci
  .github/workflows/__js-unit-test.yml
  .github/workflows/system-main-pipeline.yml
  .vscode/settings.json
Labels: workflow

fix common get version actions
  .github/workflows/__go-version.yml
  .github/workflows/__node-version.yml
  .github/workflows/__pnpm-version.yml
  .gitignore
  apps/system/client/package.json
  package.json
Labels: system, client, workflow, dependencies

fix dependencies
  Makefile
  apps/system/client/package.json
  packages/typescript/ui/package.json
  pnpm-lock.yaml
Labels: system, client, shared-packages, client-shared-packages, dependencies

fix get node version
  .github/workflows/__js-unit-test.yml
  .github/workflows/__node-version.yml
  .github/workflows/system-main-pipeline.yml
Labels: workflow

fix common action
  .github/workflows/__js-unit-test.yml
  .github/workflows/system-main-pipeline.yml
Labels: workflow

fix proto
  .github/workflows/formatter-js.yml
  .github/workflows/formatter-proto.yml
  .gitignore
  Makefile
  apps/system/client/src/generated/schema/api/error/v1/error_pb.ts
  apps/system/client/src/generated/schema/api/health/v1/health_connect.ts
  apps/system/client/src/generated/schema/api/health/v1/health_pb.ts
  schema/api/main/proto/error/v1/error.proto
Labels: system, client, workflow

fix
  .github/workflows/formatter-js.yml
  .github/workflows/formatter-proto.yml
Labels: workflow

chore
  .github/workflows/formatter-js.yml
  .github/workflows/formatter-proto.yml
Labels: workflow

chore
  .github/workflows/formatter-js.yml
  .github/workflows/formatter-proto.yml
Labels: workflow

chore
  .github/workflows/formatter-js.yml
  .github/workflows/formatter-proto.yml
Labels: workflow

chore
  .github/workflows/formatter-js.yml
  .github/workflows/formatter-proto.yml
Labels: workflow

chore
  .github/workflows/formatter-js.yml
  .github/workflows/formatter-proto.yml
Labels: workflow

chore
  .github/workflows/formatter-js.yml
  .github/workflows/formatter-proto.yml
Labels: workflow

check proto
  schema/api/main/proto/error/v1/error.proto
Labels: none

chore
  .github/workflows/formatter-js.yml
  .github/workflows/formatter-proto.yml
Labels: workflow

fix proto
  apps/system/client/src/components/common/form/inputPassword.tsx
  apps/system/client/src/generated/schema/api/account/v1/account_pb.ts
  apps/system/client/src/generated/schema/api/me/v1/me_connect.ts
  apps/system/client/src/generated/schema/api/me/v1/me_pb.ts
  apps/system/client/src/generated/schema/api/user/v1/user_pb.ts
  apps/system/client/src/infrastructure/injector/injector.ts
  apps/system/test/api/generated/schema/api/account/v1/account_pb.ts
  apps/system/test/api/generated/schema/api/error/v1/error_pb.ts
  apps/system/test/api/generated/schema/api/health/v1/health_connect.ts
  apps/system/test/api/generated/schema/api/health/v1/health_pb.ts
  apps/system/test/api/generated/schema/api/me/v1/me_connect.ts
  apps/system/test/api/generated/schema/api/me/v1/me_pb.ts
  apps/system/test/api/generated/schema/api/user/v1/user_pb.ts
  packages/typescript/ui/package.json
  packages/typescript/ui/src/components/index.ts
  packages/typescript/ui/src/components/ui/checkbox-with-label.tsx
  packages/typescript/ui/src/components/ui/checkbox.tsx
  schema/api/main/proto/account/v1/account.proto
  schema/api/main/proto/me/v1/me.proto
  schema/api/main/proto/user/v1/user.proto
Labels: system, client, test, shared-packages, client-shared-packages, dependencies

fix for vitest
  apps/system/client/package.json
  apps/system/client/postcss.config.cjs
  apps/system/client/src/vite-env.d.ts
  apps/system/client/tailwind.config.js
  apps/system/client/tailwind.config.ts
  apps/system/client/vite.config.ts
  packages/typescript/ui/tailwind.config.ts
  pnpm-lock.yaml
Labels: system, client, shared-packages, client-shared-packages, dependencies

add remark-lint
  README.md
  package.json
  pnpm-lock.yaml
Labels: dependencies

feat format markdown action
  .github/workflows/formatter-markdown.yml
  .github/workflows/formatter-proto.yml
Labels: workflow

fix github actions permissions
  .github/workflows/formatter-js.yml
  .github/workflows/formatter-markdown.yml
  .github/workflows/formatter-proto.yml
Labels: workflow

feat adr design doc template
  Makefile
  docs/tech/adr/index.md
  docs/tech/adr/template.md
  docs/tech/design-doc/index.md
  docs/tech/design-doc/template.md
Labels: none

fix proto dir
  buf.work.yaml
  schema/api/system/buf.yaml
  schema/api/system/proto/account/v1/account.proto
  schema/api/system/proto/error/v1/error.proto
  schema/api/system/proto/health/v1/health.proto
  schema/api/system/proto/me/v1/me.proto
  schema/api/system/proto/user/v1/user.proto
Labels: none

fix adr template
  docs/tech/adr/template.md
Labels: none

add references link adr index.md
  docs/tech/adr/index.md
Labels: none

add frontend-backend-connection adr
  apps/system/doc/teck/adr/20231229-frontend-backend-connection.md
Labels: system

add frontend-backend-architecture adr
  apps/system/doc/teck/adr/20231229-frontend-backend-architecture.md
Labels: system

fix export
  apps/system/client/src/domain/account/index.ts
  apps/system/client/src/domain/me/index.ts
  apps/system/client/src/domain/user/index.ts
  apps/system/client/src/driver/analytics/index.ts
  apps/system/client/src/driver/firebase/index.ts
  apps/system/client/src/driver/index.ts
  apps/system/client/src/driver/localStorage/index.ts
  apps/system/client/src/driver/me/index.ts
  apps/system/client/src/driver/theme/index.ts
  apps/system/client/src/generated/schema/api/me/v1/me_pb.ts
  apps/system/client/src/infrastructure/analytics/index.ts
  apps/system/client/src/infrastructure/env/index.ts
  apps/system/client/src/infrastructure/firebase/index.ts
  apps/system/client/src/infrastructure/i18n/index.ts
  apps/system/client/src/infrastructure/injector/index.ts
  apps/system/client/src/infrastructure/provider/index.ts
  apps/system/client/src/infrastructure/shared/index.ts
  apps/system/client/src/infrastructure/tailwindcss/index.ts
  apps/system/client/src/interface/controller/index.ts
  apps/system/client/src/interface/controller/me/controller.ts
  apps/system/client/src/interface/controller/me/index.ts
  apps/system/client/src/interface/controller/theme/index.ts
  apps/system/client/src/interface/gateway/me/adapter.ts
  apps/system/client/src/interface/gateway/me/index.ts
  apps/system/client/src/interface/gateway/shared/adapter.ts
  apps/system/client/src/interface/presenter/index.ts
  apps/system/client/src/store/index.ts
  apps/system/client/src/store/me/index.ts
  apps/system/client/src/store/theme/index.ts
  apps/system/client/src/usecase/me/index.ts
  apps/system/client/src/usecase/me/input.ts
  apps/system/client/src/usecase/me/interactor.ts
  apps/system/client/src/usecase/theme/index.ts
  apps/system/test/api/generated/schema/api/me/v1/me_pb.ts
  schema/api/system/proto/me/v1/me.proto
Labels: system, client, test

feat firebase emulator container
  container/firebase/.firebaserc
  container/firebase/.gitignore
  container/firebase/Dockerfile
  container/firebase/firebase.json
  container/firebase/storage.rules
  docker-compose.yml
Labels: container

add firebase emulator test data accounts
  container/firebase/.emulator/auth_export/accounts.json
  container/firebase/.emulator/auth_export/config.json
  container/firebase/.emulator/firebase-export-metadata.json
  container/firebase/.emulator/storage_export/buckets.json
  docker-compose.yml
Labels: container

fix ci command
  .github/workflows/__go-unit-test.yml
  .github/workflows/__go-version.yml
  .github/workflows/__lint-docker.yml
  .github/workflows/__lint-go.yml
  .github/workflows/__lint-js.yml
  .github/workflows/formatter-js.yml
  .github/workflows/system-main-pipeline.yml
  apps/system/client/package.json
  package.json
  turbo.json
Labels: system, client, workflow, dependencies

fix
  apps/system/api/go.mod
Labels: system, api

fix actions
  .github/workflows/__ci-js.yml
  .github/workflows/__js-unit-test.yml
  .github/workflows/__lint-js.yml
  .github/workflows/formatter-js.yml
  .github/workflows/formatter-markdown.yml
Labels: workflow

fix ci-js actions
  .github/workflows/__ci-js.yml
  .github/workflows/__js-unit-test.yml
  apps/system/client/package.json
Labels: system, client, workflow, dependencies

feat ci check in golang system pipeline
  .github/workflows/__ci-go.yml
  .github/workflows/system-main-pipeline.yml
Labels: workflow
